header{
    /*height: 81px;*/
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #fff;
    top: 0px;
}
header #wgnb{
    min-width: 1040px;
    max-width: 1040px;
    width: 100%;
    /*height: 81px;*/
    line-height: 81px;
    /*background: powderblue;*/
    margin: 0 auto;

}

header #wgnb h1 {
    float: left;
    font-size: 0px;
    text-indent: -9999px;
}


header #wgnb .hlogo{
    float: left;
    padding-top: 7px;
    margin-right: 25px;
    height: 73px;
}

header #wgnb .hlogo a{
    display: inline-block;
    width: 140px;
    height: 81px;

}

header .gnb {
    overflow: hidden;
    float: left;
}

header .gnb li{
    float: left;
    width: 92px;
    text-align: center;
    font-size: 15px;
    display: block;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0 1px;
}


header .gnb li a{
    color: #000;
    display: inline-block;
    height: 81px;
    width: 92px;
    transition: all 300ms;

}
header .gnb li a:hover{
    color: #25a449;
    border-bottom: 3px solid #25a449;
    box-sizing: border-box;
}

header .hdec{
    float: left;
    margin-top: 27px;
    margin-left: 25px;
    border: 1px solid #25a449;
}

header .hdec a {
    border: 2px solid #fff;
    width: 80px;
    height: 22px;
    line-height: 22px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    color: #008445;
    text-transform: uppercase;
    font-family: 'Arial';
    letter-spacing: -0.02em;
    padding: 1px 7px 1px 8px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.35s ease;
}
header .hdec a:hover {
    border: 2px solid #25a449;


}

header .util{
    float: right;
    margin-top: 35px;
    margin-right: 25px;
    margin-left: 10px
}
header .util li{
    float: left;
    font-size: 0px;
    text-indent: -9999px;
    margin-right: 9px;
}

header .util li a.search{

    font-size: 0px;
    line-height: 0px;
    width: 16px;
    height: 16px;
    display: block;
    background: url(../img/icon_utillTop_01.png) no-repeat right top;
    cursor: pointer;
}
header .util li a.search:hover{

    background: url(../img/icon_utillTop_01_on.png) no-repeat right top;

}
header .util li a.lang{

    font-size: 0px;
    line-height: 0px;
    width: 18px;
    height: 16px;
    display: block;
    background: url(../img/top_en.png) no-repeat ;
    cursor: pointer;
}
header .util li a.lang:hover{

    background: url(../img/top_en_on.png) no-repeat ;

}

.depth_gnb {
    position: fixed;
    z-index: 31;
    left: 0px;
    top: 80px;
    width: 100%;
    height: 208px;
    background: #1c1d21;
    opacity: 0.95;
    display: none;
}

.depth_gnb_box{
    width: 100%;
    min-width: 1040px;
    max-width: 1040px;
    margin: 9px auto 0px;

}
.depth_gnb .depth_gnb_box ul:nth-child(1){
    margin-left: 166px;
}
.depth_gnb .depth_gnb_box ul{
    float: left;
    text-align: center;
    margin-right: 4px;

}
.depth_gnb .depth_gnb_box ul li{
    margin-bottom: 5px!important;
    width: 90px;
}


.depth_gnb .depth_gnb_box ul li a{
    color: #707070;
    font-size: 12px;

}
.depth_gnb .depth_gnb_box ul li a:hover{
    color: #00a22e !important;

}

.depth_gnb .x_box{
    display: block;
    position: absolute;
    z-index: 50;
    right: 33px;
    bottom: 22px;
    width: 57px;
    height: 9px;
    cursor: pointer;
    background: url(../img/btn_close.png) no-repeat left top;
}

.depth_gnb .subTxt_box ul{
    background: url(../img/blt_bar02.png) no-repeat;
    background-position-x: 65px;
    background-position-y: 10px;
    width: 127px;
    height: 32px;
    position: relative;
    left: 65px;
    top: 1px;
}
.depth_gnb .subTxt_box ul li{

    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.depth_gnb .subTxt_box ul li.on{
    display: block;
}
.depth_gnb .subTxt_box ul li em{
    color: #707070;
    font-size: 11px;
}
