header{
    /*height: 81px;*/
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #fff;
    top: 0px;
}
header #wgnb{
    min-width: 1040px;
    max-width: 1040px;
    width: 100%;
    /*height: 81px;*/
    line-height: 81px;
    /*background: powderblue;*/
    margin: 0 auto;

}

header #wgnb h1 {
    float: left;
    font-size: 0px;
    text-indent: -9999px;
}


header #wgnb .hlogo{
    float: left;
    padding-top: 7px;
    margin-right: 25px;
    height: 73px;
}

header #wgnb .hlogo a{
    display: inline-block;
    width: 140px;
    height: 81px;

}

header .gnb {
    overflow: hidden;
    float: left;
}

header .gnb li{
    float: left;
    width: 92px;
    text-align: center;
    font-size: 15px;
    display: block;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0 1px;
}


header .gnb li a{
    color: #000;
    display: inline-block;
    height: 81px;
    width: 92px;
    transition: all 300ms;

}
header .gnb li a:hover{
    color: #25a449;
    border-bottom: 4px solid #25a449;
    box-sizing: border-box;
}

header .hdec{
    float: left;
    margin-top: 27px;
    margin-left: 25px;
}

header .hdec a {
    border: 1px solid #25a449;
    width: 81px;
    height: 25px;
    line-height: 25px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    color: #008445;
    text-transform: uppercase;
    font-family: 'Arial';
    letter-spacing: -0.02em;
    padding: 1px 7px 1px 8px;
    font-size: 14px;
    font-weight: bold;
}

header .util{
    float: right;
    margin-top: 35px;
    margin-right: 25px;
    margin-left: 10px
}
header .util li{
    float: left;
    font-size: 0px;
    text-indent: -9999px;
    margin-right: 9px;
}

header .util li a.search{

    font-size: 0px;
    line-height: 0px;
    width: 16px;
    height: 16px;
    display: block;
    background: url(../img/icon_utillTop_01.png) no-repeat right top;
    cursor: pointer;
}
header .util li a.lang{

    font-size: 0px;
    line-height: 0px;
    width: 18px;
    height: 16px;
    display: block;
    background: url(../img/top_en.png) no-repeat ;
    cursor: pointer;
}

.depth_gnb {
    position: fixed;
    z-index: 31;
    left: 0px;
    top: 80px;
    width: 100%;
    height: 208px;
    background: #1c1d21;
    opacity: 0.95;
    display: none;
}
.depth_gnb_box{
    width: 100%;
    min-width: 1040px;
    max-width: 1040px;
    margin: 0 auto;

}
.depth_gnb ul:nth-child(1){

    margin-left: 180px;
}
.depth_gnb ul{
    float: left;
    text-align: center;
    margin-right: 38px;

}
.depth_gnb ul li{
    margin-bottom: 5px!important;
}

.depth_gnb ul li a{
    color: #fff;
    font-size: 12px;

}
