#wrap{
	/*min-width: 1040px;*/
}
#body_Content{
	width: 100%;
	height: 100%;
	margin: 81px 0 -105px;
}

/*section1*/
#body_Content .section1 {
    width: 100%;
	position: relative;
	z-index: 10;
	overflow: hidden;
}
#body_Content .section1 .slidebanner{
	min-height: 760px;
	overflow: hidden;
}
#body_Content .section1 .slidebanner li{
	/*min-width: 1040px;*/
	width: 100%;
    height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#body_Content .section1 .slidebanner li>img{
	width: 100%;
	min-width: 800px;
	min-height: 760px;
}
#body_Content .section1 .slidebanner li .txt{
	position: absolute;
	z-index: 3;
	top: 38%;
    left: 130px;
	min-width: 500px;
}

#body_Content .section1 .slidebanner .play_video {
	position: absolute;
	z-index: 3;
	top: 55%;
	margin-left: 323px;
}
#body_Content .section1 .slidebanner .play_video a{
	display: inline-block;
    /*z-index: 3;*/
    padding: 0;
    width: 132px;
    height: 30px;
    font-weight: bold;
    background-color: #252525;
    border: 0;
    font-family: 'Arial';
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border: 3px solid #252525;
}
#body_Content .section1 .slidebanner li:first-child .play_video a{
    background-color: #fff;
    color: #252525;
    border: 3px solid #fff;
}
#body_Content .section1 .slidebanner li:first-child .play_video span{
	display: inline-block;
	background: url(../img/icon_arror05.png) no-repeat left center;
	padding-left: 18px;
}




#body_Content .section1 .slide_control{

	position: absolute;
	z-index: 50;
	top: 55%;
	margin-left: 140px;
	height: 40px;
	min-width: 180px;
}
#body_Content .section1 .slide_control div{
	float: left;
}
#body_Content .section1 .slide_control .slide_num{
	width: 34px;
    height: 34px;
    border: 1px solid #fff;
    font-family: 'Arial';
    background: url(../img/bg_alpha.png) repeat left top;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    vertical-align: top;
    letter-spacing: 0px;
}
#body_Content .section1 .slide_control .slide_direction{
	font-size: 0;
}
#body_Content .section1 .slide_control .slide_direction .prev{
	display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    background: url(../img/btn_rollPrev.png) no-repeat 50% 50%;
    vertical-align: top;
    font-size: 0;
    text-indent: -9999px;
	transition: all 0.5s;
}
#body_Content .section1 .slide_control .slide_direction .prev:hover,
#body_Content .section1 .slide_control .slide_direction .prev:active{

    background: url(../img/btn_rollPrev_over.png) no-repeat 50% 50%;
	background-size: cover;

}
#body_Content .section1 .slide_control .slide_direction .next{
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid #fff;
	background: url(../img/btn_rollNext.png) no-repeat 50% 50%;
	vertical-align: top;
	font-size: 0;
	text-indent: -9999px;
	transition: all 0.5s;
}
#body_Content .section1 .slide_control .slide_direction .next:hover{

    background: url(../img/btn_rollNext_over.png) no-repeat 50% 50%;
	background-size: cover;
}
#body_Content .section1 .slide_control .btn_play {
	font-size: 0;
}
#body_Content .section1 .slide_control .btn_play .start{
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid #fff;
	background: url(../img/btn_play.png) no-repeat 50% 50%;
	vertical-align: top;
	font-size: 0;
	text-indent: -9999px;
}
#body_Content .section1 .slide_control .btn_play .start:hover{

	background: url(../img/btn_play_over.png) no-repeat 50% 50%;
	background-size: cover;
}
#body_Content .section1 .slide_control .btn_play .stop{
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid #fff;
	background: url(../img/btn_pause.png) no-repeat 50% 50%;
	vertical-align: top;
	font-size: 0;
	text-indent: -9999px;
}
#body_Content .section1 .slide_control .btn_play .stop:hover{

	background: url(../img/btn_pause_over.png) no-repeat 50% 50%;
	background-size: cover;
}

#body_Content .section1 .icon_scroll {
	position: absolute;
	z-index: 50;
	top: 85%;
	left: 50%;
}
/*section topline*/
#body_Content .top_line{
	position: absolute;
    top: -200px;
    width: 100%;
    height: 200px;

}
/*section common*/
#body_Content .main_contents{
	width: 1000px;
	margin: 0 auto;
	padding: 90px 0 130px;
}
#body_Content .main_contents h3{
	font-size: 36px;
	font-family: 'Arial';
	text-align: center;
	word-spacing: -1px;
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}
#body_Content .main_contents .sub{
	font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0 38px 0;
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}


/*section2*/
#body_Content .section2{
	/*height: 833px;*/
	width: 100%;
	position: relative;
	z-index: 11;
	background: #25a449 url(../img/bg_section03.png) no-repeat center bottom;
	background-size: 100%;


}
#body_Content .section2 .top_line{
	background: url(../img/bg_section02.png) no-repeat center bottom;
	background-size: 100%;
}

#body_Content .section2 .main_contents{

	background: url(../img/txt_section02.png) no-repeat right 40px;
}


#body_Content .section2 .main_contents .issue_list{
	overflow: hidden;
    width: 102%;
    margin: 0 auto;
}

#body_Content .section2 .main_contents .issue_list ul{
	overflow: hidden;
    width: 1020px;
    margin: 0 auto;
}
#body_Content .section2 .main_contents .issue_list li{
	position: relative;
    float: left;
    width: 324px;
    height: 220px;
    margin: 0 14px 12px 0;
    overflow: hidden;
    border: 1px solid #25a449;
}
#body_Content .section2 .main_contents .issue_list li:hover .maskBottom{
	opacity:1;
}
#body_Content .section2 .main_contents .issue_list li:hover .img img{
	transform: scale(1.05,1.05);
}

#body_Content .section2 .main_contents .issue_list ul li a{
	width: 100%;
	height: 100%;
	display: inline-block;

}

#body_Content .section2 .main_contents .issue_list ul li a img{
	width: 100%;
	height: 100%;
	transition:all 0.35s ease;

}
#body_Content .section2 .main_contents .issue_list ul li a .icon{
	position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: #1b1b1b;
}
#body_Content .section2 .main_contents .issue_list ul li a .title{
	position: absolute;
	z-index: 3;
	left: 18px;
	bottom: 37px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0px;
}
#body_Content .section2 .main_contents .issue_list ul li a .date{
	position: absolute;
    z-index: 3;
    left: 18px;
    bottom: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0px;
}

#body_Content .section2 .main_contents .issue_list ul li a .bgPatten{
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/bg_related_patten.png) repeat-x 0 100%;
}
#body_Content .section2 .main_contents .issue_list ul li a .maskBottom{
	/*content:"";*/
	position:absolute;
	z-index:5;
	left:0;
	top:0px;
	width:97.6%;
	height:96.5%;
	background:url('../img/imgList_over.png') no-repeat left top;
	opacity:0;
	border:4px solid #fff;
	transition:all 0.45s ease;
}



#body_Content .section2 .main_contents .issue_Btn{
	width: 1000px;
	margin: 0 auto;
	text-align: right;
}
#body_Content .section2 .main_contents .issue_Btn .btnWhite{
	display: inline-block;

    height: 36px;
    padding: 0 35px 0 38px;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
    color: #252525;
    text-align: center;
}
#body_Content .section2 .main_contents .issue_Btn .btnWhite span{
	display: inline-block;
	padding: 0 22px 0 0;
	background: url(../img/icon_arror01.png) no-repeat right 50%;
}





/*section3*/
#body_Content .section3{
	/*height: 100%;*/
	/*height: 833px;*/
	width: 100%;
	position: relative;
	z-index: 8;
    background: #222328 url(../img/bg_section04.png) no-repeat center bottom;
    background-size: 100%;
}
#body_Content .section3 .main_contents{

	background: url(../img/txt_section03.png) no-repeat left 40px;
}
#body_Content .section3 .main_contents .cs_box{

}
#body_Content .section3 .main_contents .cs_box .view_part{
	width: 100%;
    overflow: hidden;
    height: 741px;
}
#body_Content .section3 .main_contents .cs_box .view_part .slider{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}
#body_Content .section3 .main_contents .cs_box .view_part .slider li{
	float: left;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

}

#body_Content .section3 .main_contents .cs_box .view_part .slider li .title{
	text-align: left;
	margin: 25px 0 10px;

}
#body_Content .section3 .main_contents .cs_box .view_part .slider li .title strong{
	font-size: 20px;
	color: #aaaaaa;
}
#body_Content .section3 .main_contents .cs_box .view_part .slider li .scenario_box{
    margin: 13px 0 22px ;
}
#body_Content .section3 .main_contents .cs_box .view_part .slider li .scenario_box .scenario{
    width: 96%;
    height: 66px;
    padding: 14px 19px;
    background-color: #222328;
    border: 1px solid #3c3c3c;
    resize: none;
    font-size: 12px;
    color: #898989;
    line-height: 22px;
}
#body_Content .section3 .main_contents .cs_box .view_control{
	font-size: 0px;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}
#body_Content .section3 .main_contents .cs_box .view_control .slide_num{
	display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    font-family: 'Arial';
    background: url(../img/bg_alpha.png) repeat left top;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    vertical-align: top;
    letter-spacing: -1px;
}
#body_Content .section3 .main_contents .cs_box .view_control .slide_direction{
	display: inline-block;
}
#body_Content .section3 .main_contents .cs_box .view_control .slide_direction .prev{
	display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    background: url(../img/btn_rollPrev.png) no-repeat 50% 50%;
    vertical-align: top;
    font-size: 0px;
    text-indent: -9999px;
	transition: all 0.5s;
}
#body_Content .section3 .main_contents .cs_box .view_control .slide_direction .prev:hover{
    background: url(../img/btn_rollPrev_over.png) no-repeat 50% 50%;
	background-size: contain;
}
#body_Content .section3 .main_contents .cs_box .view_control .slide_direction .next{
	display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    background: url(../img/btn_rollNext.png) no-repeat 50% 50%;
    vertical-align: top;
    font-size: 0px;
    text-indent: -9999px;
	transition: all 0.5s;
}
#body_Content .section3 .main_contents .cs_box .view_control .slide_direction .next:hover{

    background: url(../img/btn_rollNext_over.png) no-repeat 50% 50%;
	background-size: contain;

}
#body_Content .section3 .main_contents .cs_box .btnWhite{
	display: inline-block;

}
#body_Content .section3 .main_contents .cs_box .btnWhite a{
	display: inline-block;
    height: 36px;
    padding: 0 20px;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
    color: #252525;
    text-align: center;
}
#body_Content .section3 .main_contents .cs_box .btnWhite span{
	display: inline-block;
	padding: 0 22px 0 0;
	background: url(../img/blt_arrow_03.png) no-repeat right 50%;
}









/*section4*/
#body_Content .section4{
	/*height: 100%;*/
	/*height: 833px;*/
	width: 100%;
	position: relative;
    background: #f2bc00 url(../img/bg_section05.png) no-repeat center bottom;
    background-size: 100%;

}
#body_Content .section4 .main_contents{
	background: url(../img/txt_section04.png) no-repeat right 40px;
	padding: 90px 0 180px;
}
#body_Content .section4 .main_contents h3{
	text-shadow: none;
	color: #000
}
#body_Content .section4 .main_contents p{
	text-shadow: none;
	color: #000
}
#body_Content .section4 .main_contents .recruit{
	width: 100%;
	/*height: 500px;*/
	/*background: red;*/
	overflow: hidden;
}
#body_Content .section4 .main_contents .recruit .recruit_main{
	float: left;
    width: 631px;
	/*height: 552px;*/
	/*background: powderblue;*/
}
#body_Content .section4 .main_contents .recruit h4{
	font-size: 22px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 2px 0 0 35px;
    background: url(../img/icon_film.png) no-repeat 0 0;
    border-top: 0px;
}
#body_Content .section4 .main_contents .recruit .recruit_main h4{

    background: url(../img/icon_film.png) no-repeat 0 0;

}
#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box{
	position: relative;
}

#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_part{
	width: 632px;
	overflow: hidden;
}

#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_part .slider{
	overflow: hidden;
	width: 715%;
	transition-duration: 0.5s;
	transform: translate3d(0px, 0px, 0px);
}
#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_part .slider li{
	float: left;
	width: 632px;
}

#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_part .slider li .title{
	margin: 8px 0 15px;;

}
#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_part .slider li .title strong{
	font-size: 18px;

}
#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_part .slider li .scenario_box{
	width: 100%;
	height: 96px;

}
#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_part .slider li .scenario_box .scenario{

    width: 94%;
    height: 66px;
    padding: 14px 19px;
    background-color: #f2bc00;
    border: 1px solid #3c3c3c;
    resize: none;
    font-size: 12px;
    color: #252525;
    line-height: 22px;
}
#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_control{
	position: absolute;
	right: 0%;
	top: 74%;
}
#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_control .control_btn{
	overflow: hidden;
}
#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_control .control_btn li{
	float: left;
	font-size: 0;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	background: url(../img/slider_nav02.png) no-repeat 50% 50%;

}
#body_Content .section4 .main_contents .recruit .recruit_main .recruit_box .view_control .control_btn li:active{
	background: url(../img/slider_nav_on02.png) no-repeat 50% 50%;
}







#body_Content .section4 .main_contents .recruit .recruit_list{
	float: right;
    width: 354px;
	/*height: 552px;*/
	/*background: green;*/
}
#body_Content .section4 .main_contents .recruit .recruit_list h4{
	background: url(../img/icon_play.png) no-repeat 0 2px;
}
#body_Content .section4 .main_contents .recruit .recruit_list .list{
	width: 100%;
    height: 235px;
}
#body_Content .section4 .main_contents .recruit .recruit_list .list ul{

}
#body_Content .section4 .main_contents .recruit .recruit_list .list ul li{
	background: #e8a800 url(../img/img_recruit.png) no-repeat 0 0;
	margin-top: 5px;
}
#body_Content .section4 .main_contents .recruit .recruit_list .list ul li:first-child{
	margin-top: none;
}
#body_Content .section4 .main_contents .recruit .recruit_list .list ul li a{
	color: #252525;
	display: inline-block;
	padding: 16px;
	border: 4px solid transparent;
	font-weight: 700;
	font-size: 14px;
	display: block;
	min-height: 75px;
	transition: all 0.5s;
}
#body_Content .section4 .main_contents .recruit .recruit_list .list ul li a:hover{
	background: #f5c833;
	border: 4px solid #fff;
}
#body_Content .section4 .main_contents .recruit .recruit_list .list ul li em{
	background: #252525;
    font-size: 12px;
    color: #f2bc00;
    text-align: center;
    line-height: 22px;
    height: 22px;
    display: inline-block;
    padding: 0 8px;
    letter-spacing: -1px;
    /*vertical-align: middle;*/
    margin-right: 7px;
    font-weight: bold;
}
#body_Content .section4 .main_contents .recruit .recruit_list .list ul li span{
	display: block;
}
#body_Content .section4 .main_contents .recruit .recruit_list .list ul li .title{
	font-size: 16px;
	margin: 10px 0 5px;
	letter-spacing: -1px;
}
#body_Content .section4 .main_contents .recruit .recruit_list .list ul li .data{
	margin: inherit;
	letter-spacing: -1px;
}



#body_Content .section4 .main_contents .recruit .btnWhite{
	float: right;
    margin-top: 228px;
}
#body_Content .section4 .main_contents .recruit .btnWhite a{
	display: inline-block;
    height: 36px;
    padding: 0 20px;
	background-color: #252525;
    border: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 36px;
	color: #fff;
    text-align: center;
}
#body_Content .section4 .main_contents .recruit .btnWhite span{
	display: inline-block;
	padding: 0 22px 0 0;
	background: url(../img/blt_arrow_02.png) no-repeat right 50%;
}
















/*section5*/
#body_Content .section5{
	position: relative;
	width: 100%;
    background: #fff;
    padding-bottom: 100px;
}
#body_Content .section5 .main_contents{
	background: url(../img/txt_section05.png) no-repeat left 40px;
	padding: 90px 0 80px;
}
#body_Content .section5 .main_contents h3{
	text-shadow: none;
	color: #000
}
#body_Content .section5 .main_contents p{
	text-shadow: none;
	color: #000
}
#body_Content .section5 .main_contents .business_list{
	position: relative;
	overflow: hidden;
    width: 102%;
}
#body_Content .section5 .main_contents .business_list li{
	float: left;
	width: 493px;
	height: 251px;
	margin: 0 14px 14px 0;
	overflow: hidden;
}
#body_Content .section5 .main_contents .business_list li a{
	display: block;
	position: relative;
	font-weight: 700;
}
#body_Content .section5 .main_contents .business_list li .title{
	position: absolute;
	z-index: 3;
	left: 23px;
	bottom: 21px;
	color: #ffffff;
	font-size: 15px;
}
#body_Content .section5 .main_contents .business_list li .title em{
	font-size: 24px;
    display: block;
    margin-bottom: 3px;
    letter-spacing: -1px;

}
#body_Content .section5 .main_contents .business_list li:hover .maskBottom{
	opacity:1;
}

#body_Content .section5 .main_contents .business_list li:hover .img img{
	transform: scale(1.05,1.05);
}

#body_Content .section5 .main_contents .business_list li .maskBottom{
	position:absolute;
	z-index:5;
	left:0;
	top:0px;
	width:100%;
	height:100%;
	background:url('../img/imgList_over.png') no-repeat center center;
	background-size: contain;

	opacity:0;
	transition:all 0.45s ease;
}






/*navbar*/


#body_Content .navbar{
	position: fixed;
    top: 50%;
    right: 30px;
    width: 23px;
    z-index: 100;
}

#body_Content .navbar ul{
	position: fixed;
    top: 50%;
    right: 30px;
    width: 23px;
    z-index: 100;
}
#body_Content .navbar ul li{
}

#body_Content .navbar li:first-child {
    border-top: 2px solid #000;
}
#body_Content .navbar li a {
    display: inline-block;
    width: 100%;
	height: 10px;
    border-bottom: 2px solid #000;
	vertical-align: top;
}
#body_Content .navbar li a img {
    display: none;

}
