#wrap{
	/*min-width: 1040px;*/
}
#body_Content{
	width: 100%;
	height: 760px;
	margin-top: 81px;

}
#body_Content .section1 {
	height: 100%;
    width: 100%;
	position: relative;
}
#body_Content .section1 .slidebanner li{
	float: left;
	display: none;
	position: relative;
	min-width: 1040px;
}
#body_Content .section1 .slidebanner li>img{
	min-height: 760px;
}
#body_Content .section1 .slidebanner li .txt{
	position: absolute;
	z-index: 3;
	top: 38%;
	margin-left: 130px;
}
#body_Content .section1 .slidebanner li.on{
	display: block;
}
#body_Content .section1 .slide_control{

	position: absolute;
	z-index: 50;
	top: 59%;
	margin-left: 140px;
	height: 40px;
}
#body_Content .section1 .slide_control div{
	float: left;
}
#body_Content .section1 .slide_control .slide_num{
	width: 34px;
    height: 34px;
    border: 1px solid #fff;
    font-family: 'Arial';
    background: url(../img/bg_alpha.png) repeat left top;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    vertical-align: top;
    letter-spacing: 0px;
}
#body_Content .section1 .slide_control .slide_direction{
	font-size: 0;
}
#body_Content .section1 .slide_control .slide_direction .prev{
	display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    background: url(../img/btn_rollPrev.png) no-repeat 50% 50%;
    vertical-align: top;
    font-size: 0;
    text-indent: -9999px;
}
#body_Content .section1 .slide_control .slide_direction .next{
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid #fff;
	background: url(../img/btn_rollNext.png) no-repeat 50% 50%;
	vertical-align: top;
	font-size: 0;
	text-indent: -9999px;
}
#body_Content .section1 .slide_control .btn_play {
	font-size: 0;
}
#body_Content .section1 .slide_control .btn_play .start{
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid #fff;
	background: url(../img/btn_play.png) no-repeat 50% 50%;
	vertical-align: top;
	font-size: 0;
	text-indent: -9999px;
}
#body_Content .section1 .slide_control .btn_play .stop{
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid #fff;
	background: url(../img/btn_pause_on.png) no-repeat 50% 50%;
	vertical-align: top;
	font-size: 0;
	text-indent: -9999px;
}
#body_Content .section1 .play_video {
	position: absolute;
	top: 50%;
}
#body_Content .section1 .play_video a{
	display: inline-block;

    z-index: 3;

    margin: 80px 0 0 184px;
    padding: 0;
    width: 132px;
    height: 30px;
    font-weight: bold;
    background: none;
    background-color: #fff;
    border: 0;
    font-family: 'Arial';
    text-transform: uppercase;
    font-size: 14px;
    color: #252525;
    line-height: 30px;
    text-align: center;
    border: 3px solid #fff;
}
